<section class="experience py-lg-5 py-4" id="sertifika">
    <div class="timeline py-lg-5 py-3">
        <h4 class="sub-tittle-w3 text-uppercase text-center">Sertifikalarım</h4>
        <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Bu projeye kadar almış olduğum eğitimler.</h3>
        <div id="my-timeline"></div>
    </div>

</section>
