<header class="index-banner" id="home">
    <!-- nav -->
    @Html.Action("HomePageNavbar", "Home")
    <!-- //nav -->
    <!-- banner -->
    <div class="banner_section">
        <div class="snow-container">
            <div class="snow foreground"></div>
            <div class="snow foreground layered"></div>
            <div class="snow middleground"></div>
            <div class="snow middleground layered"></div>
            <div class="snow background"></div>
            <div class="snow background layered"></div>
        </div>
        <div class="banner-info text-uppercase">
            <h6 data-aos="fade-right">Hüseyin Kurban</h6>
            <h5 data-aos="fade-right">Merhaba, Sözlüğe Hoş Geldiniz</h5>
            <h3 data-text="Mvc Proje Kampı">Mvc Proje Kampı</h3>
            <div class="ban-buttons mt-3" data-aos="fade-right">
                <a class="btn work scroll" href="#projects">Görseller</a>
                <a class="btn work scroll active" href="#contact">İletişim</a>
            </div>

        </div>
    </div>
    <!-- //banner -->
</header>
