<nav class="main-header d-flex">
    <div id="brand">
        <div id="logo">
            <a href="index.html">
                <i class="fas fa-crosshairs"></i>
            </a>
        </div>
        <div id="word-mark">
            <h1>
                <a href="#">Mvc_Kampı</a>
            </h1>
        </div>
    </div>
    <div id="menu">
        <div id="menu-toggle">
            <div id="menu-icon">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
        <ul class="text-center nav-honey">
            <li>
                <a href="#" class="active ">Ana Sayfa</a>
            </li>
            <li>
                <a class="scroll" href="#about">Geliştirme Aracları</a>
            </li>
            <li>
                <a class="scroll" href="#services">Hakkında</a>
            </li>
            <li>
                <a class="scroll" href="#projects">Görseller</a>
            </li>
            <li>
                <a class="scroll" href="#contact">İletişim</a>
            </li>
            <li>
                <a class="scroll" href="#content">Sözlük</a>
            </li>
            <li class="login">
                <button type="button" class="btn login-btn text-uppercase " data-toggle="modal" data-target="#exampleModalCenter">
                    Giriş Yap
                </button>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</nav>
